:root {
    --main-bg-color: rgb(97, 228, 228);
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
main {
    border: 5px outset;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
}
article {
    margin: 15px;
    border: 5px inset;
    width: 40px;
    height: 40px;
    background-color: var(--main-bg-color);
}
#border__dashed {
    border: 5px dashed rgba(245, 241, 241, 0.8);
    width: 160px;
    height: 40px;
}
